.container {
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;

}

.container2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container2 video {
    /* border: 1px solid #fff; */
    box-shadow: 0 0 10px #ffffff86;
    width: 60%;
    border-radius: 5px;
    outline: none;
}

.course {
    width: 250px;
    transition: all .5s;
    margin-bottom: 1rem;
}

.course:hover {
    transform: translateY(-10px);
}